fastapi==0.112.0
uvicorn==0.30.5
sqlalchemy==2.0.36
pydantic==2.9.2
python-dotenv==1.0.1
boto3==1.35.54
elasticsearch==8.15.1
passlib==1.7.4
pytesseract==0.3.13
unstructured[all-docs]==0.16.4
python-jose==3.3.0
langchain==0.0.343
openai==0.28.0
transformers==4.46.1
pdfminer.six==20201018
pi_heif==0.20.0
psycopg2-binary
alembic
httpx
fastapi[all]